{{ with .Site.Data.careerSection }}
{{ if .enable }}
<section class="section resume" id="career">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <div class="text-light">
                        <span class="top-title pre-line">{{ .topTitle }}</span>
                        {{ .title | markdownify }}
                    </div>

                    <div class="btn-group nav mt-5">
                        <a href="#{{.tab1Target}}" class="btn btn-primary active" data-toggle="tab">{{ .tab1Name }}</a>
                        <a href="#{{.tab2Target}}" class="btn btn-primary" data-toggle="tab">{{ .tab2Name }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content clearfix">
                    <div class="resume__education tab-pane active" id="{{.tab1Target}}">
                        {{ $Section := .education }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line text-primary"> 
                                {{ .time }} 
                                <span class="float-right badge badge-pill badge-secondary text-light font-italic h3">{{ .duration }}</span>
                            </span>
                            <div class="h6 float-right mt-2 font-weight-bold">
                                {{ .major }}
                            </div>
                            {{ .content | markdownify }}
                            {{ if .prizes }}
                            <div>
                                <div class="border-bottom">
                                    <div class="badge badge-pill badge-success"> 
                                        <i class="fa-solid fa-trophy"></i>
                                        荣誉奖章
                                    </div>
                                </div>
                                <div class="mt-1">
                                    {{ $Prize := .prizes}}
                                    {{ range $Prize }}
                                    <button class="btn btn-outline-secondary btn-sm m-1 rounded-pill pt-0 pb-0">
                                        {{ if .icon }}
                                        <i class="{{ .icon }}"></i> | 
                                        {{ end }}
                                        {{ if .iconUrl }}
                                        <img src="{{ .iconUrl }}" width="18" /> | 
                                        {{ end }}
                                        {{ .name }}
                                    </button>
                                    {{ end }}
                                </div>
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>

                    <div class="resume__education tab-pane" id="{{.tab2Target}}">
                        {{ $Section := .experience }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line text-primary"> 
                                {{ .time }} 
                                <span class="float-right badge badge-pill badge-secondary text-light font-italic h3">{{ .duration }}</span>
                            </span>
                            <div class="h6 float-right mt-2 font-weight-bold">
                                {{ .station }}
                            </div>
                            {{ .content | markdownify }}
                            {{ if .prizes }}
                            <div>
                                <div class="border-bottom">
                                    <div class="badge badge-pill badge-success"> 
                                        <i class="fa-solid fa-trophy"></i>
                                        荣誉奖章
                                    </div>
                                </div>
                                <div class="mt-1">
                                    {{ $Prize := .prizes}}
                                    {{ range $Prize }}
                                    <button class="btn btn-outline-secondary btn-sm m-1 rounded-pill pt-0 pb-0">
                                        {{ if .icon }}
                                        <i class="{{ .icon }}"></i> | 
                                        {{ end }}
                                        {{ if .iconUrl }}
                                        <img src="{{ .iconUrl }}" width="18" /> | 
                                        {{ end }}
                                        {{ .name }}
                                    </button>
                                    {{ end }}
                                </div>
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}